.sample-carousel {
	display:block;
	width:100%;
}

.sample-li {
	background-color: red;
}

.sample-li-active {
	background-color: white;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #ff0000;
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #ffffff;
}

.float-bar {
    background: #fff;
    display: none;
    color: #FFF;
    width: 50px;
    border: 2px solid #ededed;
    position: fixed;
    right: 0px;
    bottom: 150px;
    z-index: 99;
}

.float-ul {
    padding: 0;
    margin: 0;
}

.float-li {
	list-style-type:none;
	height: 50px;
}

.sidebar-img{
	position:relative;
	left:8px;
	top:10px;
	width: 70%;
}

.popover-content .contact-info {
    width: 100px;
}

.custom-font {
  font-family: "Microsoft YaHei";
}

.carousel-img {
    width:100%;
}

.footer {
    background: #000000;
    color: #fdfdfd;
    padding-top: 10px;
    padding-bottom: 10px;
}